.mainContentContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.2rem;
  .typed {
    font-size: 6rem;
  }
}

.baseContainer {
  width: 50%;
  padding: 3rem;
  font-size: 3.2rem;
}
