.appContainer {
  height: 100%;
  width: 100%;
}

.homeContainer {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .typed {
    font-size: 6rem;
  }
}

.mainContainer {
  display: flex;
  justify-content: center;
}
